*{
    margin: 0px;
    padding: 0px;
}
.banner-img{
    width: 400px;
}
.banner-container{
    background-color: rgb(191, 206, 206);
    display: flex;
    justify-content: space-around;
    height:100vh;
    align-items: center;
    
}
.title{
    font-size: 55px;
    font-weight:bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
.banner-column{
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    padding: 50px 300px;
    align-items: center;
    margin-top: 100px;
    gap: 80px;
}
.img{
    height: 300px;
}
.farhad{
    font-size: 25px;
    font-weight: bold;
}
.title-1{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    
}
.of{
    color: crimson;
}
.do{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
  
}
.fa{
    padding: 20px 0px;
    font-size: 12px;
}
.bo{
    font-style: bold;
}
.flower{
    height: 250px;
    width: 250px;
}
.jishan{
    width: 800px;
    display: flex;
    text-align: center;
    justify-content:space-around;
    align-items:center;
    margin: auto;
    gap: 20px;
}